[Unit]
Description=Murli Chat Service
After=multi-user.target

[Service]
User=ubuntu
Type=simple
Restart=always
ExecStart=/bin/bash /home/ubuntu/projects/murli_chat/run_app.sh
[Install]
WantedBy=multi-user.target
